
#box-canvas-botoes{
    border: 1px solid blue;
    display: inline-block;
    /* width original 400px */
    /* width: 400px;
    height: 440px; */
    margin: 10px 100px;
}

#box-botoes{
border: 2px solid black;
margin: 1px;
padding: 4px;

}

li{
    border: 1px solid black;
    display: inline-block;
    border-radius: 4px;
    
    
}

li:hover{
    background-color: aqua;
    /* transform: scale(1.2);
    transition: transform 0.5s; */
    
}

#botoesDoDesenho{
    margin: 2px;
}

#colorSelector{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2px;
    vertical-align: middle;
    margin-bottom: 3px;
}

.botaoClickado{
    background-color: rgb(113, 238, 113);

    
}

#box-canvas{
    border: 1px solid blue;
    display: block;
    width: 399px;
    height: 398px;
    
}

select{
    float: right;
}

#spanDeTexto{
border: 1px solid black;
display: inline-block;
vertical-align: top;
width: 550px;
font-family: "Lucida Console", Monaco, monospace;
}

span{
    font-family: "Lucida Console", Monaco, monospace;
}